<!DOCTYPE html>

<html>
<head>
    <title>Asp.Net Configuration Example</title>
    <link href="~/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>Ways to use</th>
                <th>Result</th>
            </tr>
            <tr>
                <td>Section</td>
                <td>
                    <p>@ViewBag.ClientID</p>
                    <p>@ViewBag.ClientSecret</p>
                </td>
            </tr>
            <tr>
                <td>Options pattern</td>
                <td>
                    <p>@ViewBag.ClientID</p>
                    <p>@ViewBag.ClientSecret</p>
                </td>
            </tr>
            <tr>
                <td>Use as service</td>
                <td>
                    <p>@ViewBag.ClientID</p>
                    <p>@ViewBag.ClientSecret</p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>